{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<h2>Welcome to F&P </h2>
<p>Sales forecasting is the process of estimating future revenue by predicting the amount of product or services a sales unit
     (which can be an individual salesperson, a sales team, or a company) will sell in the next week, month, quarter, or year. </p>
<p><strong>Note : </strong>Here you can forecast the selling of a selected product !</p>

<header>
  <h2>Choose your next step</h2>
</header>

<section>
    <div href="/products" class="button">Forecast</div>
    <div class="button">Planning</div>
</section>

<footer>
  <p> Made with love ❤︎ </p>
</footer>
{% endblock %}