{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
    <h1>Product list</h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="" class="button">delete</a>
                <br>
                <a href="" class="button">update</a>
            </td>
        </tr>
    </table>
</div>
{% endblock %}