body, html {
    margin: 20px;
    font-family: sans-serif;
    background-color: black;
    color:gray;
    lighting-color:blue;
    outline-color:white;
    text-align:center;
}
center{
    margin-left: auto;
    margin-right: auto;
    
}
table, tbody, th, td{
    border: 1px solid #02484d;
    border-spacing: 0;
    width: 66%;
    font-size:14px;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-style: solid;
    border-color: #02484d;
}

tr:nth-child(even) {
  background-color: #1f1f1e;
}

input[type=text], select {
  width: 50;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #013438;
  border-radius: 6px;
  border-color: #013438;
  box-sizing: border-box;
  background-color:#1f1f1e;
  color:white;
  margin-right: 40px;

}

input[type=submit] {
  width: 50;
  background-color: #02484d;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #03282b;
  color:gray;
  
}

.button {
  background-color: #02484d;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #03282b;
  border: 4px;
  color: white;
  border-color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:gray;
}
body, html {
    margin: 20px;
    font-family: sans-serif;
    background-color: black;
    color:gray;
    lighting-color:blue;
    outline-color:white;
    text-align:center;
}
center{
    margin-left: auto;
    margin-right: auto;
    
}
table, th, td{
    border: 1px solid #02484d;
    border-spacing: 0;
    width: 33%;
    font-size:14px;
    margin-left: auto;
    margin-right: auto;
    border: .5px;
    border-style: solid;
    border-color: #02484d;
}

tr:nth-child(even) {
  background-color: #1f1f1e;
}

input[type=text], select {
  width: 50;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #013438;
  border-radius: 6px;
  border-color: #013438;
  box-sizing: border-box;
  background-color:#1f1f1e;
  color:white;
  margin-right: 40px;

}

input[type=submit] {
  width: 50;
  background-color: #02484d;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #03282b;
  color:gray;
  
}

.button {
  background-color: #02484d;
  border: none;
  color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  background-color: #03282b;
  border: 4px;
  color: white;
  border-color: white;
  padding: 2px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  color:gray;
}
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #880666;
    color: white;
  }

  /* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}